*{margin: 0;padding: 0;}
a{text-decoration: none;}

main {
	text-align: center;
}
#main {
	display: inline-block;
}
kbd{
	display: inline-block;
	width: 4em;
	height: 4em;
	border: 1px solid #ccc;
	text-transform: uppercase;
	position: relative;
}
kbd:hover > button {
	display: block;
}
kbd > button {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none
}





